<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title> Update user </title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="firstName">first name: </label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <label for="lastName">last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <label for="email">email: </label>
    <input type="text" th:field="*{email}" id="email">
    <label for="username">username: </label>
    <input type="text" th:field="*{username}" id="username">
    <label for="editPassword" class="col-form-label">Password</label>
    <input type="password" class="form-control" id="editPassword" placeholder="password" name="password">

<!--    <label for="password">change password: </label>-->
<!--    <input type="text" th:field="*{password}" id="password">-->
    <input type="submit" value="Update">
</form>
<br/>
<a href="/admin"> Go to admin`s users list </a>
<div></div>
<a href="/logout"> Logout </a>
</body>
</html>
